<div class="scroller">

    {# Top row #}
    <div class="row">
    {%- if scroller is setAt('top_left') -%}
        <div class="section top left">
            {{ kg_scroller_render_pos(scroller, 'top_left') }}
        </div>
    {%- endif -%}

    {%- if scroller is setAt('top_mid') -%}
        <div class="section top mid">
            <div class="movable">
                {{ kg_scroller_render_pos(scroller, 'top_mid') }}
            </div>
        </div>
    {%- endif -%}

    {%- if scroller is setAt('top_right') -%}
        <div class="section top right">
            {{ kg_scroller_render_pos(scroller, 'top_right') }}
        </div>
    {%- endif -%}

    {# Middle row #}
    </div><div class="row">
    {%- if scroller is setAt('mid_left') -%}
        <div class="section cen left">
            <div class="movable">
                {{ kg_scroller_render_pos(scroller, 'mid_left') }}
            </div>
        </div>
    {%- endif -%}

    {%- if scroller is setAt('mid_mid') -%}
        <div class="section cen mid">
            <div class="draggable">
                {{ kg_scroller_render_pos(scroller, 'mid_mid') }}
            </div>
        </div>
    {%- endif -%}

    {%- if scroller is setAt('mid_right') -%}
        <div class="section cen right">
            <div class="movable">
                {{ kg_scroller_render_pos(scroller, 'mid_right') }}
            </div>
        </div>
    {%- endif -%}

    {# Bottom row #}
    </div><div class="row">
    {%- if scroller is setAt('bot_left') -%}
        <div class="section bot left">
            {{ kg_scroller_render_pos(scroller, 'bot_left') }}
        </div>
    {%- endif -%}

    {%- if scroller is setAt('bot_mid') -%}
        <div class="section bot mid">
            <div class="movable">
                {{ kg_scroller_render_pos(scroller, 'bot_mid') }}
            </div>
        </div>
    {%- endif -%}

    {%- if scroller is setAt('bot_right') -%}
        <div class="section bot right">
            {{ kg_scroller_render_pos(scroller, 'bot_right') }}
        </div>
    {%- endif -%}
    </div>

</div>