@CHARSET "UTF-8";

.scroller {
    
}

.scroller .section {
    float:       left;
    height:      150px;
    overflow:    hidden;
    text-align:  left;
    white-space: normal;
    width:       150px;
}

/* Top row */
.scroller .top.left {
    clear: left;
}

.scroller .top.mid {

}

.scroller .top.right {    
}

/* Center row */
.scroller .cen.left {
    clear: left;
}

.scroller .cen.mid {
}

.scroller .cen.right {
}

/* Bottom row */
.scroller .bot.left {  
    clear: left;
}

.scroller .bot.mid {
}

.scroller .bot.right {
}

/* Additional components */
.scroller .movable,
.scroller .draggable {
    position: relative;
    float:    left;
}

/*
 * Rows contain 3 sections. Since the sections must be inline-blocks, we need
 * to remove the extra white-space generated.
 */
.scroller .row {
    overflow:   hidden;
    text-align: center;
    width:      200%;
}